@import '~node_modules/modern-normalize/modern-normalize.css';

// .visually-hidden {
//   width: 1px;
//   height: 1px;
//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   border: 0;
//   margin: -1px;
//   padding: 0;
//   position: absolute;
//   overflow: hidden;
// }

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  // background-color: red;
  margin: 0;
  padding: 0 0 20px 0;
}
.header {
  width: 100%;
  background-color: #324ab2;
  padding: 10px;
  margin: 0;
  position: sticky;
  z-index: 999;
  top: -10px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.form-input {
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 10 0 0 10;
  font-size: 20px;
}
.form-btn {
  cursor: pointer;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 0 10 10 0;
  float: left;
  font-size: 17px;
  color: #324ab2;
  font-size: 20px;
}

.form-btn:after {
  content: '';
  clear: both;
  display: table;
}
.load-more-btn {
  background-color: #324ab2;
  color: white;
  font-size: 20px;
  border-radius: 10 10 10 10;
  padding: 10px 20px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
.gallery-container{
  // padding-left: 20px;
  // padding-right: 20px;
  // background-color: yellow;
  margin: 0;
}
.gallery{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0;
  padding: 15px 0 15px 0;
  overflow: hidden;
}
img{
  display: block;
  width: 300px;
  height: 200px;
}

.photo-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.info{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: small;
}